spring:
  application:
    name: aiengine
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  ai:
    google:
      genai:
        api-key: ${GEMINI_API_KEY}
        project-id: ${GEMINI_PROJECT_ID}

server:
  port: ${PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
telegram:
  bot:
    token: ${TELEGRAM_BOT_TOKEN}