spring:
  application:
    name: aiengine
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  ai:
    retry:
      on-client-errors: false # Disable retries for ALL 4xx (Client) errors
      exclude-on-http-codes: 429 # Keep other retries but specifically exclude Quota errors
      max-attempts: 1 # Kill retries entirely
    google:
      genai:
        api-key: ${GEMINI_API_KEY}
        project-id: ${GEMINI_PROJECT_ID}
        chat:
          options:
            model: gemini-2.5-flash

server:
  port: ${PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
telegram:
  bot:
    token: ${TELEGRAM_BOT_TOKEN}